.my-responsive-table {
	margin: 0;
	width: 100%;
	overflow: hidden;
	margin-top: 100px;
}

.my-responsive-table th {
	display: none;
	border: 1px solid #000;
}

.my-responsive-table tr {
	border-spacing: 1px !important;
}

.my-responsive-table td {
	display: block;
}

.my-responsive-table td:first-child {
	padding-top: .5em;
}

.my-responsive-table td:last-child {
	padding-bottom: .5em;
}

.my-responsive-table td:before {
	content: attr(data-th) ": ";
	font-weight: bold;
	width: 8em;
	display: inline-block;
}

.my-responsive-table th,
.my-responsive-table td {
	text-align: left;
	margin: .5em 1em;
}

.table-hover>tbody>tr:hover {
    background-color: rgba(23, 41, 113, 0.37);
}

@media (min-width: 480px) {
  .my-responsive-table td:before {
		display: none;
	}
	.my-responsive-table th,
	.my-responsive-table td {
		display: table-cell;
		padding: 1em;
	}
}
@media (max-width: 480px){
  .my-responsive-table tbody tr{
    border: 1px solid black;
  }
  .my-responsive-table>tbody>tr>td{
    border: 0;
  }
}
