<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
<meta name="description" content="Portfolio of Dibyanshu, a freelance web developer, mobile app developer, iOS developer, android developer, windows app developer and WordPress theme developer." />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script>
    <![endif]-->
<title>Creative portfolio of Dibyanshu, a Freelance App/Web Developer</title>
<meta name="author" content="Dibyanshu">
<!-- open graph -->
<meta property="og:title" content="Freelance App/Web Developer" />
<meta property="og:site_name" content="Creative portfolio of Dibyanshu, a Freelance App/Web Developer" />
<meta property="og:description" content="Portfolio of Dibyanshu, a freelance web developer, mobile app developer, iOS developer, android developer, windows app developer and WordPress theme developer." />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://dibyanshusinha.github.io/images/screenshot.jpg" />
<meta property="og:url" content="https://dibyanshusinha.github.io/" />
<!-- open graph -->
<meta name="twitter:card" content="product" />
<meta name="twitter:title" content="Freelance Web/App Developer" />
<meta name="twitter:description" content="Portfolio of Dibyanshu, a freelance web developer, mobile app developer, iOS developer, android developer, windows app developer and WordPress theme developer." />
<meta name="twitter:image" content="http://dibyanshusinha.github.io/images/screenshot.jpg" />
<meta name="twitter:label2" content="Website Apps" />
<meta name="twitter:data2" content="Developer" />
<!-- Favicon -->
<link rel="shortcut icon" href="/images/favicon.ico" />
<!-- Stylesheets -->
<link href='css/load.css' rel='stylesheet'>



<!-- Bootstrap-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet'>
<link href='//fonts.googleapis.com/css?family=Raleway:900,300,200,100' rel='stylesheet'>
<!--Themes-->
<link href='css/pro-bars.css' rel='stylesheet'>
<link href="css/owl.carousel.css" rel="stylesheet">
<link href="css/animations.css" rel="stylesheet">
<!--[if lte IE 9]><link href='css/animation-fix.css' rel='stylesheet'><![endif]-->
<!--Custom-->
<link href='css/style.css' rel='stylesheet'>
<link href='css/responsive.css' rel='stylesheet'>

<!--Custom helping var to help in submitting msgs-->
<script type="text/javascript">
	var submitted = false;

</script>


<body data-spy="scroll" data-taget=".navbar-nav">
	<div id="load-cover">
		<div id="alt-load-container">
			<img src="images/ripple.svg">
		</div>
		<div id="load-container">
			<div class="cssload-container">
				<div class="cssload-teardrop cssload-tearLeft"></div>
				<div class="cssload-teardrop cssload-tearRight"></div>
				<div id="cssload-contain1">
					<div id="cssload-ball-holder1">
						<div class="cssload-ballSettings cssload-ball1"></div>
					</div>
				</div>
				<div id="cssload-contain2">
					<div id="cssload-ball-holder2">
						<div class="cssload-ballSettings cssload-ball2"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Navigation Section Starts -->
	<header id="header" role="banner">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<a href="/" class="navbar-brand">Dibyanshu's Portfolio</a>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a class="smoothScroll" href="#about">About Me<span class="sr-only">(current)</span></a></li>
						<li><a class="smoothScroll" href="#portfolio">Portfolio</a></li>
						<li><a class="smoothScroll" href="#testimonial">Testimonial</a></li>
						<li><a class="smoothScroll" href="#blog">Blog</a></li>
						<li><a class="smoothScroll" href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- Navigation Section Ends -->

	<!-- Home Section Starts -->
	<section id="home">
		<!-- Banner Animation Starts -->
		<div class="animated_layer">
			<div class="bubble_b"></div>
			<div class="bubble_a"></div>
		</div>
		<!-- Banner Animation Ends -->
		<!-- Banner overlay Starts -->
		<article class="overlay-section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="home-inner text-center animatedParent">
							<h1 class="home-title topSpace animated pulse">HI! I'm <span>Dibyanshu</span></h1>
							<p class="animated fadeInUpShort">India based Freelance Developer creating awesome and effective websites<br>along with Android and Windows Phone Apps</p>
							<a class="btn btn-cta animated fadeIn slow delay-1000" href="#footer"><i class="fa fa-paper-plane"></i> Contact Me </a>
							<!-- Call to About Button -->
						</div>
					</div>
				</div>
			</div>
		</article>
		<!-- Banner overlay Ends -->
	</section>
	<!-- Home Section Ends --->

	<!-- About Me Section Starts -->
	<section id="about">
		<div class="container-fluid">
			<div class="container">
				<div class="row hidden-xs">
					<div class="about-inner">
						<div class="introText">
							My Multiple Skills
						</div>
						<div class="about-design">
							<div class="webme">
								<p class="meTitle">Websites</p>
								<p>Website Coding and Development throughout all phases<br>either it be a SPA, Custom Static Site, a dynamic one,<br>ecommerce with custom backend panel, or<br> WordPress theme from scratch </p>
								<img src="images/col1.PNG">
								<p class="secondme">In my Free time I like to learn new stuffs, there's whole lot<br>of things out there and it amazes me how less I know.<br> Apart from that I want to be an entrepreneur, but<br> still waiting for my "one in a million idea".</p>
							</div>
							<div class="appme">
								<p class="meTitle">Mobile Apps</p>
								<p>Native app Development for Android & Windows. iOS(learning)<br>Can create apps having Client-Server architecture,<br>from whatsapp to uber, sometimes<br>flappy birds too.</p>
								<img src="images/col2.PNG">
							</div>
							<div class="trafficme">
								<p class="meTitle">S.E.M.</p>
								<p>Can help with Traffic Generation with basic SEO hacks<br>boost your Alexa Ranking, Keywords optimization<br>help with Analytics and Adwords Campaigns,<br>on site and off-site content and backlinks</p>
								<img src="images/col3.PNG">
								<p class="secondme">Fun Facts:<br>I suffer from Insomnia. Apart from that I am a die-hard fan<br>of Stories. I like watching tv-series, movies & reading<br>novels. Shiva Trilogy & RashmiRathi are<br>some of my favourite ones.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About Me Section Ends -->

	{{content}}

	<!-- Contact Section Starts -->
	<section id="contact">
		<!-- Start Footer Top -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="contact-inner animatedParent">
						<h2 class="title">Contact</h2>
						<div class="col-md-12">
							<!-- Modal Item-->
							<div class="modal modal-small fade" id="thanks" tabindex="-1" aria-hidden="true">
								<div class="container-fluid portfolio-modal">
									<a class="close modal-exit" data-dismiss="modal" aria-hidden="true">&times;</a>
									<div class="clearfix"></div>
									<div class="container text-center portfolio-modal-content"><br><br> Your Download is on its way. <br>Hope to meet you in person !<br><strong>Thanks</strong>
									</div>
								</div>
							</div>
						</div>
						<figure class='book animated bounceIn slower'>
							<ul class='paperback_front'>
								<li>
									<p class="bookTitle">READ ME!</p><img src="images/bg.jpg" alt="" width="100%" height="100%"></li>
								<li></li>
							</ul>
							<ul class='ruled_paper'>
								<li></li>
								<li>
									<p class="booktext"><a href="Resume.pdf" download="Dibyanshu's Resume" target="_blank">Download My Resume</a></p>
								</li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<ul class='paperback_back'>
								<li><img src="images/bg.jpg" alt="" width="100%" height="100%"></li>
								<li></li>
							</ul>
						</figure>
						<p>Questions, comment or concerns? This contact form is the best way to get in touch with me. Alternatively I can be reached at <em>dibyanshu.sunny@gmail.com</em>. Please feel free to contact me anytime of the day. You and your thoughts are welcomed !</p>
						<div class="row">
							<!-- Message Starts -->
							<article class="col-xs-12 col-md-6">
								<form class="contact-form" name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/1E60FjOR-BAH5mZTKOk29-ES-o4hlWd5KrGxR741w1bs/formResponse" target="hidden_iframe" onsubmit="submitted=true;">
									<div class="input-field">
										<label class="input-label" for="contact-name">Name</label>
										<input type="text" class="input-box" name="entry.30195375" id="entry.30195375" required>
									</div>
									<div class="input-field">
										<label class="input-label" for="email">Email</label>
										<input type="email" class="input-box" name="entry.831073373" id="entry.831073373" required>
									</div>
									<div class="input-field">
										<label class="input-label" for="subject">Subject</label>
										<input type="text" class="input-box" name="entry.906433826" id="entry.906433826" required>
									</div>
									<div class="input-field textarea-input">
										<label class="input-label" for="textarea1">Message</label>
										<textarea class="textarea" name="entry.1999539921" id="entry.1999539921" required></textarea>
									</div>
									<button class="waves-effect submit-btn" type="submit" value="Submit">send message</button>
								</form>
								<iframe name="hidden_iframe" id="hidden_iframe" style="display: none;" onload="if(submitted) {submitCheck()}"></iframe>
							</article>
							<!-- Message Ends-->
							<!-- Map Starts-->
							<article class="col-xs-12 col-md-6">
								<div class="contact-map">
									<iframe src="//www.google.com/maps/embed/v1/place?q=96A/9,+Bhuiya+Chowk+Rd,+Teacher+Colony,+Mehrauli+New+Delhi+Delhi+11070&key=AIzaSyB91WXqPtvD3t-cEceP8vU1CZvYMry9SDI" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
								</div>
							</article>
							<!-- Map Ends-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact Section Ends -->

	<!-- Footer Starts -->
	<footer id="footer" role="contentinfo">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="footer-inner">
						<!-- Bottom to Up Btn -->
						<a class="up-btn" href="#home"><i class="fa fa-chevron-circle-up"></i></a>
						<p class="design-info"><a href="https://dibyanshusinha.github.io/"><strong>© Dibyanshu</strong></a></p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Ends -->





	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src='js/css3-animate-it.js'></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/mix-it-up.js"></script>
	<script src="js/appear.min.js" type="text/javascript"></script>
	<script src="js/pro-bars-min.js" type="text/javascript"></script>
	<script src="js/tag.min.js"></script>
	<script src="js/custom.min.js"></script>
	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})
		(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
		ga('create', 'UA-76883135-1', 'auto');
		ga('send', 'pageview');

	</script>

	<noscript>Please enable JavaScript to view the page correctly.</a></noscript>
</body>

</html>
