<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
<meta name="description" content="Blog by Dibyanshu, Learn Coding The easy way" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script>
    <![endif]-->
<title>{{page.title}} | Code Capsule</title>
<meta name="author" content="Dibyanshu">
<!-- Favicon -->
<link rel="shortcut icon" href={{"/images/favicon.ico" | relative_url }}  />
<!-- Style-->





<body style="background: #f6f6f6;">



	<!--Main-->
<main>
<section style="display:flex">
	<div>
	{{content}}
	</div
</section>

</main>
<footer>
</footer>

</body>

</html>
